html, body {
	font-family: Helvetica, Arial;
	background-color: #272822;
	color: #F8F8F2;
}

.container {
	margin: auto;
	padding: 0px;
}

aside {
	float: right;
	width: 15%;
	height: 200px;
}

aside > div {
	position: fixed;
	margin: auto;
	width: 17%;
}

aside::after {
	content: '';
	display: block;
	clear: both;
}

main {
	width: 85%;
	padding-right: 20px;

}

p {
	text-align: justify;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #337ab7;
}

h1, h2, a, legend {
	color: #66D9EF;
}

label {
	display: block;
}

input, button, select {
	color: #272822;
	display: inline;
}

input[name='title'], textarea[name='content'], input[name='email']{
	width: 100%;
	display: block;
	color: #000;
}

input[type='file']{
	display: inline;
}

#navlaterale{
	margin: auto;
	width: 50%;
	padding-bottom: 40px;
}

#topButton {
	margin: auto;
	width: 50%;
	display: block;
}

.themes{
	width: 120px;
	margin: auto;
	padding-bottom: 100px;
}

#theme1 {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 3px solid #FFF;
	background-color: #337ab7;
	color: #FFF;
	float: left;
}

#theme2 {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 3px solid #66D9EF;
	background-color: #272822;
	color: #F8F8F2;
	float: right;
}

footer{	
	margin-top: 50px;
	padding-top: 50px;	
	position: relative;
	bottom: 0;	
	padding-bottom: 60px;
	background-color: #2E2E2E;
	color: white;
	width: 100%;	
}

.copyright{
	float: left;
	font-size:1.5rem;
	text-align: center;
	width: 65%;	
	vertical-align: middle;
	margin: auto;
	font-style: italic;
}

/* Réseaux sociaux */
.social{
	float: right;
	text-align: right;
	margin-right: 20px;
	width: 30%;
	vertical-align: top;
}

.social img{	
	width: 20px;
	padding-right: 5px;	
}



