html, body {
	font-family: Helvetica, Arial;
}

.container {
	margin: auto;
	padding: 0px;
}

.connexion {
	padding: 15px;
	/* position: absolute; */
	right: 100px;
}

.connexion span {
	padding-right: 10px;
}

aside {
	float: right;
	width: 20%;
	height: 100%;
}

aside > div {
	position: absolute; 
	margin: auto;
	width: 17%;
}

aside::after {
	content: '';
	display: block;
	clear: both;
}

h1, h2, a, legend {
	color: #66D9EF;
}

label, input, button {
	display: block;
}

main {
	width: 80%;
	/*padding-right: 20px;*/
	padding-bottom: 100px;
}

p {
	text-align: justify;
}

ul li {
	list-style-type: none;
	list-style-position: outside;
}

.themes{
	width: 120px;
	margin: auto;
	padding-bottom: 100px;
}

#theme1 {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 3px solid #337ab7;
	background-color: #FFF;
	color: #337ab7;
	float: left;
}

#theme2 {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 3px solid #272822;
	background-color: #66D9EF;
	color: #272822;
	float: right;
}

section ul li p {
  display: none;
}

label {
	display: block;
}

input, button, select {
	color: #272822;
	display: inline;
}

input, textarea{
	width: 100%;
	display: block;
	color: #000;
}

input[type='file']{
	display: inline;
}

#navlaterale{
	margin: auto;
	width: 100%;
	padding-bottom: 40px;
}

#navlaterale h3 {
	text-align: center;
}

#topButton {
	margin: auto;
	width: 115px;
	padding: 5px;
	display: block;
	position: fixed;
	right: 7%;
	/*bottom: 20%;*/
	border: 2px solid #337ab7;
	border-radius: 10px;
}

section ul li p {
  display: none;
}

footer{	
	margin-top: 0px;
	margin-bottom: 0;
	padding-top: 45px;		
	padding-bottom: 60px;
	background-color: #2E2E2E;
	color: white;
	width: 100%;
	height: 100px;
	border-top: 1px solid black;
}

.copyright{
	float: left;
	font-size:1.5rem;
	text-align: center;
	width: 65%;	
	vertical-align: middle;
	margin: auto;
	font-style: italic;
}

/* Réseaux sociaux */
.social{
	float: right;
	text-align: right;
	margin-right: 20px;
	width: 30%;
	vertical-align: top;
}

.social i{	
	padding-right: 5px;	
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    margin-bottom: 0;
}

.alert {
	margin-bottom: 0;
}

.banniere {
	width: 100%;
	height: 150px;
}

/* Masquage partie droite en responsive */
@media screen and (max-width: 1050px) {
    aside{
    	display:none;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

		/****** PARTIE DROITE ******/

/* Position fixe de la partie droite */
#navdroite{
	position: absolute;
	right: 0;	
	top: 0;
	background-color: rgba(225,245,250,0.4);
	border-left: 0.5px ridge #E1E2E2;
}

/* Conteneur partie droite */
aside{
	padding-top: 100px;
	padding-bottom: 70px;
	width: 25%;
	height: auto;
	float: right;	
}

/* Image cliquable Newsletter */
aside #news{	
	width: 40%;
	border: none;	
	margin-left: 100px;
	border-radius: 0;
	box-shadow: none;
}

aside .themes{	
	margin-left: 180px;
}

/* Styles des Catégories */
.categories, h3{
	margin-top: 50px;
	margin-left: 75px;
	color: #2E2E2E;		
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;		
}

/* Styles des liens Catégories */
#navlaterale ul li a{	
	font-size: 1.3rem;
	line-height: 2;
	margin-left: 55px;
	color: #2E2E2E;
	font-variant: small-caps;
	text-decoration: none;
}

/* Suppression des styles de liste */
ul{
	list-style: none;	
}