html, body {
	font-family: Helvetica, Arial;
	background-color: #272822;
	color: #F8F8F2;
}

.container {
	margin: auto;
	padding: 0px;
}

aside {
	float: right;
	width: 20%;
	height: 100%;
	padding-left: 40px;
}

aside::after {
	content: '';
	display: block;
	clear: both;
}

main {
	width: 80%;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #337ab7;
}

h1, h2, a, legend {
	color: #66D9EF;
}

label {
	display: block;
}

input, button, select {
	color: #272822;
	display: inline;
}

.themes{
	width: 120px;
}

#theme1 {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 3px solid #FFF;
	background-color: #337ab7;
	color: #FFF;
	float: left;
}

#theme2 {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 3px solid #66D9EF;
	background-color: #272822;
	color: #F8F8F2;
	float: right;
}
section ul li p {
  display: none;
}



